#maindiv{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    place-items: center;
    row-gap: 40px;
    margin-top: 100px;
    
    /* background-color: rgb(16,16,16); */
    padding: 20px;
    
}
#gif{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(0,0,0);
}
#gif>img{
    width: 30%;
}

@media (max-width: 1100px) {
     
    #maindiv{
        grid-template-columns:repeat(2,1fr) ;
    }
    }

    @media (max-width: 775px) {
     
        #maindiv{
           display: flex;
           flex-direction: column;
        }

        #secdiv{
           
            display: flex;
            flex-direction: row;
            align-items: center;
           
           
        
        }
        }


#options{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(16,16,16); */
}

#proddiv{
    background-color: rgb(16,16,16);
    /* margin-bottom: 100px; */
}

#secdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width: 350px;
    height: 400px;
    /* border: 2px solid black; */
    border-radius: 15px ;
    background-color: rgb(34, 34, 34);

}
#secdiv:hover{
   
    box-shadow: rgba(82, 81, 82, 0.888) 0px 5px 15px;
}
#mainimg{
    width: 100%;
    object-fit: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
#mainimg>img{
    width: 100%;
    height:250px ;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}


#maintext{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
}

#maintext>p{
font-size: 20px;
color: white;
}

#maintext>h3{
    font-size: 16px;
    font-weight: 500;
    color: white;
    }


    #maintext>button{
       width: 100px;
       height: 35px;
       font-size: 14px;
       font-weight: 500;
       color: white;
       border-radius: 50px;
       background-color: rgb(80, 15, 140);
        }

        #maintext>button:hover{
            background-color: rgb(150, 47, 245);
            color: rgb(254, 253, 253);
        }
        
#buttonz{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: start;
    padding-top: 30px;
    justify-content: center;
    gap: 10px;
}

