@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body,
input {
  font-family: "Poppins", sans-serif;
}


.containerA {
  position: relative;
  width: 100%;
  background-color: #310e68;
  background-image: linear-gradient(to right,rgb(21, 5, 35), rgb(34,11,56),rgb(26, 6, 41));
  min-height: 100vh;
  overflow: hidden;
}

.forms-containerA {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signupA {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-formA {
  opacity: 0;
  z-index: 1;
}

form.sign-in-formA {
  z-index: 2;
}

.titleA {
  font-size: 2.2rem;
  color: #f8f9fa;
  margin-bottom: 10px;
}

.input-fieldA {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-fieldA i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-fieldA input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #0c0c0c;
}

.input-fieldA input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-textA {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-mediaA {
  display: flex;
  justify-content: center;
}

.social-iconA {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-iconA:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btnA {
  width: 150px;
  background-color: #5318b2;
  
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btnA:hover {
    background-image:linear-gradient(to right,rgb(49, 20, 75), rgb(54, 16, 90rgb(30, 8, 48)3));
  border: 4px solid white;
}
.panels-containerA {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.containerA:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-color: #310e68;
  background-image: linear-gradient(to right,rgb(61, 16, 100), rgb(57, 49, 171),rgb(38, 9, 61));;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.imageA {

  width: 40%;
  margin-right: 90px;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panelA {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panelA {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panelA {
 
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panelA .contentA {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panelA h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panelA p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btnA.transparentA{
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panelA .imageA,
.right-panelA .contentA {
  transform: translateX(800px);
}

/* ANIMATION */

.containerA.sign-up-modeA:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.containerA.sign-up-modeA .left-panelA .imageA,
.containerA.sign-up-modeA .left-panelA .contentA {
  transform: translateX(-800px);
}

.containerA.sign-up-modeA .signin-signupA {
  left: 25%;
}

.containerA.sign-up-modeA form.sign-up-formA {
  opacity: 1;
  z-index: 2;
}

.containerA.sign-up-modeA form.sign-in-formA {
  opacity: 0;
  z-index: 1;
}

.containerA.sign-up-modeA .right-panelA .imageA,
.containerA.sign-up-modeA .right-panelA .contentA {
  transform: translateX(0%);
}

.containerA.sign-up-modeA .left-panelA {
  pointer-events: none;
}

.containerA.sign-up-modeA .right-panelA {
  pointer-events: all;
}

@media (max-width: 870px) {
  .containerA {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signupA {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signupA,
  .containerA.sign-up-modeA .signin-signupA {
    left: 50%;
  }

  .panels-containerA {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panelA {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panelA {
    grid-row: 3 / 4;
  }

  .left-panelA {
    grid-row: 1 / 2;
  }

  .imageA {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panelA .contentA {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panelA h3 {
    font-size: 1.2rem;
  }

  .panelA p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btnA.transparentA {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .containerA:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .containerA.sign-up-modeA:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .containerA.sign-up-modeA .left-panelA .imageA,
  .containerA.sign-up-modeA .left-panelA .contentA {
    transform: translateY(-300px);
  }

  .containerA.sign-up-modeA .right-panelA .imageA,
  .containerA.sign-up-modeA .right-panelA .contentA {
    transform: translateY(0px);
  }

  .right-panelA .imageA,
  .right-panelA .contentA {
    transform: translateY(300px);
  }

  .containerA.sign-up-modeA .signin-signupA {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .imageA {
    display: none;
  }
  .panelA .contentA {
    padding: 0.5rem 1rem;
  }
  .containerA {
    padding: 1.5rem;
  }

  .containerA:before {
    bottom: 72%;
    left: 50%;
  }

  .containerA.sign-up-modeA:before {
    bottom: 28%;
    left: 50%;
  }
}