

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#dad {
  width: 100%;
  display: flex;
  padding: 0 35px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 650px;
  /* min-height: 400px; */
  background-color: rgb(16,16,16);
  
}

#headings{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    padding: 20px;
    width: 70%;
    gap: 20px;
    text-align: center;

}
#headings{
    font-size: 1.4rem;
    color: white;
}
#left2{
    z-index: 1;
}



#user{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#user1{
    text-align: center;
}
#text{
    text-align: center;
    padding: 8px;
    color: rgba(255, 255, 255, 0.783);
}

.wrapper {
  max-width: 1100px;
  height: auto;
  width: 100%;
  position: relative;
  
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 330px;
  list-style: none;
  background:rgb(36, 35, 35) ;
  cursor: pointer;
  /* padding-bottom: 15px; */
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  /* border: 1px solid rgba(255, 255, 255, 0.653); */
}
.carousel .card .img {
  background: #440cb3;
  height: 108px;
  width: 108px;
  border-radius: 50%;
}
.card .img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 30px 0 5px;
  color: rgba(255, 255, 255, 0.813);
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1rem;
  color:  rgba(255, 255, 255, 0.813);;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  #headings{
    width: 100%;
  }
}